.recipeCard {
    padding: 38px;
    border-radius: 10px;
    background: #d9d9d9;
    box-shadow: -20px 20px 60px #b8b8b8,
        20px -20px 60px #fafafa;
    width: 98%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
}

img {
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    flex: 0 0 30%;
}

.container {
    flex: 1;
}

ul {
    margin-left: 35px;
}

.fav {
    font-size: 30px;
    transition: all .2s ease-in;
    /* color: magenta; */
}

.fav:hover {
    color: rgb(255, 126, 238);
    cursor: pointer;
}

.recipeBtn {
    /* display: flex;
    place-self: flex-end;
    margin-top: 1%; */
    padding: 14px 52px;
    margin-right: -56px;
    border-radius: 5px;
    color: white;
    background: orange;
    font-weight: bolder;
    transition: all .2s ease-in;
}

.recipeBtn:hover {
    background: #ffa5008c;
    cursor: pointer;
}

.info {
    margin-bottom: 15px;
}

hr {
    margin: 8px 0;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
