#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* background-image: url('./assets/baked-goods-corner-clip-art_f.webp');
  background-size: auto;
  background-repeat: no-repeat; */
}
